* {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #434343;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
    color: #000;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
}
h2 {
    font-size: 40px;
    line-height: 1.2;
}
h3 {
    font-size: 28px;
    line-height: 1.2;
}

p {
    font-size: 16px;
}

a {
    color: #ee3425;
    text-decoration: none;
}
a:active,
a:link {
    color: #2c3e50;
}
a:link {
    text-decoration: none;
}

button {
    font-family: "PT Sans", sans-serif;
    font-size: 14px !important;
    font-weight: 700 !important;
    min-width: 72px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
    outline: none;
    transition: color .1s linear, background-color .1s linear, border-color .1s linear;
    will-change: color, background-color, border-color;
}

#main_container {
    --layout-topbar: 56px;
    --layout-startbar: 200px;
    min-width: fit-content;
    min-height: 100vh;
    padding-top: 56px;
}

#body_container {
    display: flex;
}

#main_body {
    flex: 1 1;
    background-color: #fff;
}
/* header part starts */
#header {
    position: relative;
    width: 100%;
    padding-top: 57px;
    margin-top: -57px;
    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    background-color: #fbdc00;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.container1 {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#sub_header {
    padding: 16px;
    display: flex;
    align-items: center;
}

#text1 {

    flex: 1 1;
}

#text1 h1 {
    margin-bottom: 20px;
}

#para1 {
    margin-bottom: 20px;
}

#button1 {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    padding: 8px 42px;
    border-radius: 8px;
}

#image1 {
    flex: 1 1;
    margin-bottom: -56px;

}
/* header part ends */
/* numbers served start */
#numbers_served {
    padding: 16px;
}
#industry {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: -40px;
}
.industries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.count{
    margin-bottom: 5px;
}
.industries h2 {
    color: #ee3425;
}

.industries h4 {
    font-size: 16px;
}

/* number served ends */
/* white curve starts */
#white_curve {
    background: #fffef2;
}
#main_curve {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 18px;
    border-bottom-right-radius: 100% 150%;
    border-bottom-left-radius: 100% 150%;
}
/* white curve ends */
/* products start */
#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    background: #fffef2;
}
#one_stop {
    padding: 16px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
#text2 {
    flex: 1 1;
}
#text2 h2 {
    margin-bottom: 10px;
}
#image2 {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}
#prouct_image {
    display: block;
    width: 500px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
}
#main_products {
    padding: 16px;
}
#main_products > h3 {
    text-align: center;
}

#product_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fffef2;
}


.particular_product {
    display: flex;
    align-items: center;
    margin: 14px 0;
}
.particular_product > h4 {
    
    width: 300px;
    margin-right: 50px;
    font-size: 24px;
    color: #000;
        
}
.product_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.product_card:hover {
    border-color: #ee3425;
}
.product_card > h4 {
    
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
      
}

.product_card_text {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
}
/* product ends */
/* trusted by starts */
#trusted_by {
    margin-bottom: 50px;
}
#trusted_by > h3 {
    text-align: center;
}
#companies {
    display: flex;
    gap: 0.1rem;
    overflow: hidden;
    user-select: none;
}
#companies > div {
    display: flex;
    flex-shrink: 0;
    gap: 0.1rem;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
}
#companies>div img {
    width: 100px;
    height: 100%;
}
/* trusted by ends */
/* next level starts */
#next_level {
    margin-bottom: 50px;
    background: #fbdc00;
}
#next_level_container{
    padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#text3 {
    padding: 25px 0;
}

#text3 > h3 {
    margin-bottom: 10px;
}
#button2 {
    border: 1px solid #ee3425;
    color: #fff !important;
    background: #ee3425 !important;
    border-radius: 4px;
    padding: 4px 16px;
}
#button2 > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* next level ends */

/* working starts */
#working {
    padding: 16px;
}
#working_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
}
#working_options {
    display: flex;
    justify-content: space-between;
}
#inactive, #active {
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    color: #000 !important;
    border-radius: 20px;
}
#active {
    background-color: #fbdc00 !important;
    border: #fbdc00 !important;
}
#inactive {
    background-color: #e5dfdf !important;
        border: #808080 !important;
}

#working_graphic {
        position: relative;
        display: flex;
}

.working_card_top {
    margin-bottom: 120px;
}
.working_card {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.red_text {
    font-weight: 600;
    color: #ee3425;
}
.card_heading {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}

.card_heading > div {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
.working_card > span {
    display: flex;
}
.working_card>span p {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
}
#arrow1 {
    position: absolute;
    top: 104px;
    left: 300px;
}
.arrow_image {
    width: 150px;
    height: 60px;
}
#arrow2 {
    position: absolute;
    bottom: 116px;
    left: 300px;
}
#working_image {
    display: flex;
    align-items: center;
    justify-content: center;

}
#working_image >img {
    width: 560px;
    height: 320px;
}
#arrow3 {
    position: absolute;
    top: 104px;
    right: 300px;
}
#arrow4 {
    position: absolute;
    right: 300px;
    bottom: 116px;
}
/* working ends */
/*industries_served starts  */
#industries_served{
    padding: 16px !important;
    margin-bottom: 50px;
    background: #fffef3;
}
#industries_served_container {
    padding: 16px;
}

#industries_served_container > h3 {
    text-align: center;
}
#industries_icon_container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.industries_icon {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.industries_icon img {
    width: 100px;
    height: 100px;
}


/* industries_served ends */
/* get_started starts */
#get_started {
    margin-bottom: 50px;
}
#get_started_container {
    display: flex;
    align-items: center;
    padding: 16px 100px !important;
}
#text4 {
    flex: 1 1;
}

#text4>h2 {
    margin-bottom: 10px;
}

#text4>a {
    display: inline-block;
    height: 40px;
    padding: 8px 42px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #ee3425;
    border-radius: 8px;
}

#image4 {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}

#image4>img {
    display: block;
    width: 280px;
    height: 360px;
    object-fit: contain;
}
/* get_started ends */
/* grow_faster start */
#grow_faster{
    margin-bottom: 50px;
}
#video_container {
    position: relative;
    height: 450px;
    cursor: pointer;
}
#video_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#play_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
}
#play_video > img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

#know_more {
    background: #ee3425;
}
#know_more_container {
    padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#know_more_text {
    padding: 25px 0;
}
#know_more_text > h3{
        margin-bottom: 10px;
        color: #fff;
}
#know_more_text > p {
    color: #fff;
}
#know_more_button {
    
    border: 1px solid #ee3425;
    padding: 4px 16px;
    color: #000 !important;
    background: #fbdc00 !important;
    border-radius: 4px;
}
#know_more_button_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* grow_faster ends */
/* blogs start */
#blogs {
    padding: 16px;
}

#blogs_container {
    display: flex;
    flex-direction: column;
}
#blogs_container > h3 {
    text-align: center;
}
#blogs_card_container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.blogs_cards {
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsl(0deg 0% 79% / 50%);
}
.blogs_cards > a {
    color: #000 !important;
}
.blogs_cards_image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
        
}
.blogs_cards_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px;
}
.blogs_cards_title {
    margin-bottom: 5px;
    font-size: 16px !important;
    color: #ee3425;
}
.blogs_cards_heading {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000 !important;
}
.blogs_cards_text > p{
    max-height: calc(1.4rem * 3);
    overflow: hidden;
}
.blogs_cards_read_more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blogs_cards_read_more > span{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
}
.blogs_cards_read_more > h4{
    margin-bottom: 5px;
        font-size: 14px !important;
        color: #9a9a9a;
}

#view_all_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#view_all_button {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    width: fit-content;
    padding: 8px 42px !important;
    font-family: "PT Sans", sans-serif;
    font-size: 14px !important;
    font-weight: 700 !important;
    border-radius: 4px;
}
/* blogs end */
/* subscribe starts*/
#subscribe {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: 20px;
    background-color:#fbdc00;
    margin-bottom: -1px;
}

#subscribe_image {
    width: 20%;
    padding: 20px;
    margin: 20px;
}
#subscribe_image img {
    width: 100%;
    height: 100%;
}
#subscribe_text > h3 {
    margin: 0;
}
#subscribe_text > span {
    font-size: 16px;
}
#subscribe_form {
    margin-top: 20px;
}
#subscribe_form > form{
    display: flex;
}
#subscribe_form input{
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
#subscribe_form button {
            background-color: #ee3425;
            color: #fff;
            border: 1px solid #ee3425;
            padding: 4px 16px;
            width: 120px !important;
            height: 40px !important;
            text-align: center;
            text-decoration: none;
            background: #ee3425;
            border-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            
}
#subscribe::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: " ";
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}
/* subscribe ends */
/* nav_bar starts */
#nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    color: #000;
    background: #fbdc00;
}
#nav_bar > div {
    display: block;
    flex-shrink: 0;
    margin-left: auto;
    cursor: pointer;
}
#nav_bar > nav {
    margin-right: auto;
    margin-left: auto;
}
#nav_list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav_list_item {
    margin-left: 20px;
    border-radius: 4px;
}
.nav_list_item > div {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}
.nav_list_item :hover{
    color: #ee3425;
}
#nav_list > a :hover {
    color: #ee3425;
}
#contact_us{
    width: 100%;
    margin-left: 40px;
    color: #000;

}
#nav_register {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        font-family: "Ubuntu",sans-serif;
        list-style-type: none;
}
#nav_login {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}
#nav_signup {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
    padding: 4px 16px;
    width: 100%;
    border-radius: 8px !important;
    font-family: var(--font-family);
}
/* nav_bar ends */
/* site_map starts */
#site_map {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 50px 50px;
    font-family: "PT Sans", sans-serif;
    background: #fbdc00;
    
}
.list_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.list_container > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
}
 .list_container > div {
    display: flex;
    flex-direction: column;
 }
 .list_item {
    margin: 8px 0;
 }
 .list_item > span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
 }
 .list_item > span a{
    font-weight: 400;
    color: #000;
    text-decoration: none;
 }
 .list_item >span :hover {
    text-decoration: underline;
 }

/* site_map ends */
/* ports starts */
#ports {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;
}
.ports_list {
    display: flex;
    flex-direction: column;
}
.ports_list > div {
    line-height: 2rem;
}
.ports_list>div  a{
   color:#000;
}
.ports_list>div a:hover {
    font-weight: 700;
    color: #ee3425;
    letter-spacing: -0.4px;
}
/* ports ends */
/* footer starts */
#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 30px;
    background: #ebbe00;
    margin-top: -1px;
}
#footer_left {
    display: flex;
    align-items: center;
}
#footer_left > span, #footer_left > ul {
    display: flex;
    margin-left: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
#footer a{
    color: #000;
}
#footer_left li {
    margin-right: 5px;
    cursor: pointer;
}
#footer_right {
    padding: 8px 30px;
}
/* footer ends */